*.env
*.env.*

# Flutter generated plugin registrants
**/generated_plugin_registrant.*
**/GeneratedPluginRegistrant.*
**/generated_plugins.cmake

# Optional: platform build outputs
**/linux/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugin_registrant.*
**/macos/Flutter/GeneratedPluginRegistrant.*

# Build folders (recommended)
**/build/